$primary-green: #21523D;
$primary-green-hover: #225740;
$light-green: #26CF88;

$white: #FFFFFF;
$white-2: #FBFBFC;
$white-3: #E3E3E3;

$grey-1: #272727;
$grey-2: #2D2D2D;
$grey-3: #2F2F2F;
$grey-4: #545454;
$grey-5: #666666;
$grey-6: #949AA1;

$black-text: #212121;
